*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(images/naruto-gang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
/*ensures the background does not repeat, is fixed and covers the entire screen*/
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
/*is used to center my container*/

}
.container{
    background-color: white;
    width: 100vh;
/*sets the height at full viewport height*/
    height: 45%;
    border-radius: 10px;
    

}
h2{
    font-weight: bold;
    font-size: 44px;
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
}
h2 img{
    width: 55px;
}
.row{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 24px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    cursor: text;
}

.addButton{
    background-color: rgb(255, 140, 0);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(37, 41, 255);
}
span {
    background-color: rgb(235, 235, 235);
    color: rgb(255, 140, 0);
    padding: 2px 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 7px;
}
